.App {
  margin: 0;
  padding: 3% 10%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links-desktop {
  text-decoration: none;
  color: #000;
}

.mobile-menu {
  display: none;
}

.mobile-hamburger {
  display: none;
  color: #000;
  font-size: 24px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #0290ff;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.navbar-menu li {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
  font-size: 20px;
}

.navbar-menu li:hover {
  text-decoration: underline;
  color: #000;
  font-size: 24px;
}

.books-container {
  display: flex;
  flex-direction: column;
}

.book-item {
  margin: 20px 0;
  padding: 30px 60px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.book-item:hover {
  border: 1px solid #81aed5;
}

.Line {
  width: 75rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.section1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section1 h2 {
  margin: 0;
}

.section1 p {
  margin: 0;
  padding-top: 10px;
  color: #81aed5;
}

.book-button-section {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  margin-top: 20px;
}

.book-button-section button {
  outline: none;
  border: none;
  background-color: unset;
  padding: 0;
  color: #81aed5;
}

.section3 button {
  background-color: #0290ff;
  border: none;
  outline: none;
  margin-top: 15px;
  padding: 10px 5px;
  border-radius: 3px;
  color: #fff;
}

.book-button-section button:hover {
  color: #0290ff;
}

.section2 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 45%;
}

.progress-text {
  width: 45%;
}

.section2 h2 {
  margin: 0;
}

.section3 {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.section3 p {
  color: #d3d3d3;
  margin-top: 0;
}

.section3 h3 {
  margin: 0;
}

.AddBook h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.addbookform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  padding: 15px 4%;
  background-color: #0290ff;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.inputfields {
  width: 35%;
  height: 50px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  letter-spacing: -0.15px;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: fixed;
    padding: 5%;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #272a31;
    z-index: 9;
    opacity: 0.8;
    transition: opacity 2s, visibility 2s;
  }

  .mobile-hamburger {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .close-button {
    color: #fff;
    font-size: 25px;
    margin-top: 2%;
  }

  .mobile-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu li {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .links-mobile {
    text-decoration: none;
    color: #fff;
  }

  .book-item {
    flex-direction: column;
  }

  .Line-2 {
    display: none;
  }

  .addbookform {
    flex-direction: column;
  }

  .inputfields {
    width: 80%;
  }

  .add-btn {
    width: 40%;
  }
}
